
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER     VIEW [dbo].[LITEM_VW] AS
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM ARITEM
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM BPITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM BRITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM CNITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM CPITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM CRITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM DCITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM DNITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM EPITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM EQITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM ESITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM IIITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM IPITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM IRITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM JVITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM OBITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM OPITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM PCITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM POITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM PTITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM PRITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM SOITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM SQITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM SRITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM SSITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM STITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM TRITEM       
UNION ALL
SELECT TRAN_CD,ENTRY_TY,DATE,DOC_NO,ITSERIAL,DC_NO,PARTY_NM,ITEM,QTY,INV_NO,WARE_NM,AC_ID,IT_CODE,TAX_NAME
FROM ITEM
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

