CREATE TABLE [dbo].[Set_2Way](
	[cType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Entry_Ty] [varchar](2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[sDate] [smalldatetime] NULL,
	[tDate] [smalldatetime] NULL,
	[View_Name] [varchar](25) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cFile_path] [varchar](60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cExlude_Field] [text] COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Csv_Formula] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsOverWrite] [bit] NULL,
	[MainTbl] [varchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[cKeyfield] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Set_2WayId] [int] IDENTITY(1,1) NOT NULL,
	[CompId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

SELECT * FROM Vudyog..Co_Mast WHERE CompId In (SELECT DISTINCT CompId FROM Set_2Way)

/* Generated by SQLEditor */
INSERT INTO [Set_2Way]([cType], [Entry_Ty], [sDate], [tDate], [View_Name], [cFile_path], [cExlude_Field], [Csv_Formula], [IsOverWrite], [MainTbl], [cKeyfield], [Set_2WayId], [CompId]) 
VALUES ('T', 'PT', null, null, 'PT_Main_Vw', 'C:\Temp', 'Entry_Ty,Tran_cd', '', 1, 'PTMAIN', 'Entry_Ty,Tran_cd', 1, 8)

Truncate table [Set_2Way]
Select * From [Set_2Way]
