If Exists(Select xType,Name from Sysobjects where xType='P' and Name='USP_REP_SO_VOU')

Begin
	Drop PROCEDURE USP_REP_SO_VOU
End
Go
/****** Object:  StoredProcedure [dbo].[USP_REP_SO_VOU]    Script Date: 08/14/2015 10:04:22 ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USP_REP_SO_VOU]
@ENTRYCOND NVARCHAR(254)
	AS
Declare @SQLCOMMAND as NVARCHAR(4000),@TBLCON as NVARCHAR(4000)	
SET @TBLCON=RTRIM(@ENTRYCOND)
Declare @Entry_ty Varchar(2),@Tran_cd Numeric,@Date smalldatetime,@Progtotal Numeric(19,2),@Inv_no Varchar(20)

Select Entry_ty,Tran_cd=0,Date,inv_no,itserial=space(6) Into #somain from somain Where 1=0
set @sqlcommand='Insert Into #somain Select somain.Entry_ty,somain.Tran_cd,somain.date,somain.inv_no,soitem.itserial from somain Inner Join soitem on (somain.Entry_ty=soitem.Entry_ty and somain.Tran_cd=soitem.Tran_cd) Where '+@TBLCON

print @sqlcommand
execute sp_executesql @sqlcommand
			
SELECT SOMAIN.INV_SR,SOMAIN.TRAN_CD,SOMAIN.ENTRY_TY,SOMAIN.INV_NO,SOMAIN.DATE,SOMAIN.EXAMT,SOMAIN.DUE_DT,
SOMAIN.GRO_AMT GRO_AMT1,SOMAIN.TAX_NAME,SOMAIN.TAXAMT,SOMAIN.NET_AMT,SOMAIN.SLIPNO,SOMAIN.U_CESSAMT,SOMAIN.TOT_NONTAX,
SOMAIN.TOT_TAX,SOMAIN.TOT_DEDUC,SOMAIN.U_BROKER,SOMAIN.U_DELI,SOMAIN.U_HCESAMT,
SOMAIN.U_DELTERMS,CONVERT(VARCHAR(254),SOMAIN.NARR) AS NARR,SOMAIN.USER_NAME,SOITEM.GRO_AMT,SOITEM.ITEM_NO,SOITEM.U_BASDUTY,
SOITEM.QTY,SOITEM.RATE,SOITEM.U_ASSEAMT,IT_MAST.IT_NAME AS ITEM,
IT_DESC=(CASE WHEN ISNULL(IT_MAST.IT_ALIAS,'')='' THEN IT_MAST.IT_NAME ELSE IT_MAST.IT_ALIAS END),
MAILNAME=(CASE WHEN ISNULL(AC_MAST.MAILNAME,'')='' THEN AC_MAST.AC_NAME ELSE AC_MAST.MAILNAME END),
IT_MAST.[GROUP],IT_MAST.EIT_NAME,IT_MAST.CHAPNO,IT_MAST.RATEUNIT,AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,
AC_MAST.ZIP,AC_MAST.S_TAX,AC_MAST.C_TAX,AC_MAST.I_TAX,AC_MAST.ECCNO,AC_MAST.RANGE,AC_MAST.DIVISION,AC_MAST.COLL,
AC_MAST1.AC_NAME CONSIGNEE,AC_MAST1.ADD1 ADD11,AC_MAST1.ADD2 ADD22,AC_MAST1.ADD3 ADD33,AC_MAST1.CITY CITY1,
AC_MAST1.ZIP ZIP1,AC_MAST1.S_TAX S_TAX1,AC_MAST1.C_TAX C_TAX1,AC_MAST1.I_TAX I_TAX1,AC_MAST1.ECCNO ECCNO1,
AC_MAST1.RANGE RANGE1,AC_MAST1.DIVISION DIVISION1,AC_MAST1.COLL COLL1,e.itemcnt,
PTERMSDESCRIPTION=isnull(substring(convert(varchar(4000),(Select '#'+CONVERT(varchar(10),row_number() over (order by tran_cd))+') '+ rtrim(PTDescrip) From PayTermsDet where PayTermsDet.Tran_cd =SOMAIN.Tran_cd  AND PayTermsDet.entry_ty=SOMAIN.entry_ty For XML Path(''))),2,4000),'')+ ISNULL(SOMAIN.U_DELTERMS,'')
FROM SOMAIN 
INNER JOIN SOITEM ON (SOMAIN.TRAN_CD=SOITEM.TRAN_CD) 
INNER JOIN #somain ON (SOMAIN.TRAN_CD=#somain.TRAN_CD and SOMAIN.Entry_ty=#somain.entry_ty and SOITEM.ITSERIAL=#somain.itserial) 
INNER Join (Select Entry_ty,Tran_cd,itemcnt=count(item_no) from soitem group by Entry_ty,Tran_cd) e ON (SOMAIN.Entry_ty=e.Entry_ty and SOMAIN.Tran_cd=e.Tran_cd)
INNER JOIN IT_MAST ON (SOITEM.IT_CODE=IT_MAST.IT_CODE) 
INNER JOIN AC_MAST ON (AC_MAST.AC_ID=SOMAIN.AC_ID) 
INNER JOIN AC_MAST AC_MAST1 ON (AC_MAST1.AC_ID=SOMAIN.CONS_ID)
--LEFT JOIN PAYTERMSDET PTD ON (SOMAIN.TRAN_CD=PTD.TRAN_CD)
WHERE  SOMAIN.ENTRY_TY='SO' ORDER BY SOMAIN.INV_SR,CAST(SOMAIN.INV_NO AS INT)
