DROP PROCEDURE [Get_Payment_Advance]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [Get_Payment_Advance]
@Entry_ty Varchar(2),@Tran_cd Numeric(10,0),@REntry_ty Varchar(2),@Itref_Tran Numeric(10,0)
as 

Select a.*,cgst_alloc=Isnull(b.cgst_amt,0), sgst_alloc=Isnull(b.sgst_amt,0), igst_alloc=Isnull(b.igst_amt,0),
	ccessalloc=Isnull(b.COMPCESS,0), cgst_adj=b.cgst_amt, sgst_adj=b.cgst_amt, igst_adj=b.cgst_amt, ccess_adj=b.cgst_amt,
	Taxable=Isnull(b.Taxable,0), Taxa_adj=b.Taxable
Into #pay_vw
	From payment_vw a
	Left Join 
		(
			Select Rentry_ty, itref_tran, taxrate, Taxable=sum(Taxable), cgst_amt=sum(cgst_amt), sgst_amt=sum(sgst_amt), 
				igst_amt=sum(igst_amt), compcess=sum(compcess)
			From TaxAllocation 
				Where Not(Entry_ty=@REntry_ty and Tran_cd=@Itref_Tran) 
					group by Rentry_ty,itref_tran,taxrate
		) b on (a.Entry_ty=b.REntry_ty and a.Tran_cd=b.Itref_tran and a.cgst_per+a.sgst_per+a.igst_per=b.taxrate)
	where a.Entry_ty=@Entry_ty and a.Tran_cd=@Tran_cd 

Update #pay_vw set cgst_adj=0, sgst_adj=0,igst_adj=0,ccess_adj=0,Taxa_adj=0,cgst_amt=cgst_amt-cgst_alloc,
	sgst_amt=sgst_amt-sgst_alloc,igst_amt=igst_amt-igst_alloc,COMPCESS=COMPCESS-ccessalloc, Taxable=U_asseamt-Taxable


Select * from #pay_vw
GO
