DROP PROCEDURE [Usp_Ent_GetBatchSerialRcrds]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author		: Sachin .N. Sapaliga
-- Create date	: 20/07/2011
-- Description	: This Stored procedure is used in populating Batchwise/Serialize Split Quantity.
-- Remark		:
-- Modified By & On: Changed By Sachin N. S. on 20/03/2012 for Bug-3196
-- Modified By & On: Changed By Sachin N. S. on 07/03/2014 for Bug-21381
-- =============================================
CREATE PROCEDURE [Usp_Ent_GetBatchSerialRcrds]
@ITCODE INT, @ENTRY_TY  VARCHAR(2), @DATE SMALLDATETIME, @TRAN_CD INT, @ITSERIAL VARCHAR(5), @WARE_NM VARCHAR(50)	--Changed By Sachin N. S. on 20/03/2012 for Bug-3196 Version 1.1
--@ITCODE INT, @ENTRY_TY  VARCHAR(2), @DATE SMALLDATETIME, @TRAN_CD INT, @ITSERIAL VARCHAR(5)
AS
DECLARE @SQLCOMMAND NVARCHAR(4000)

-- Changed By Sachin N. S. on 26/04/2012 for Bug-3196 Version 1.1 -- Start
SELECT A.ITRAN_CD, SUM(CASE WHEN A.PMKEY='+' THEN (CASE WHEN A.DATE>@DATE THEN 0 ELSE A.RQTY END) ELSE -A.RQTY END) AS RQTY, 
		SUM(CASE WHEN A.DATE>@DATE THEN (CASE WHEN A.PMKEY='+' THEN A.RQTY ELSE -A.RQTY END) ELSE 0 END) AS DTG_RQTY INTO #_TMPIT_SRTRN
		FROM IT_SRTRN A WHERE NOT (A.ENTRY_TY=@ENTRY_TY AND A.TRAN_CD=@TRAN_CD) 
		--AND A.ITSERIAL=@ITSERIAL) 
		AND A.IT_CODE=@ITCODE AND A.DC_NO='' AND A.WARE_NM=@WARE_NM		--Changed By Sachin N. S. on 20/03/2012 for Bug-3196 Version 1.1
GROUP BY A.ITRAN_CD 

--**** Added By Sachin N. S. on 07/03/2014 for Bug-21381 -- Start
SELECT A.ITRAN_CD, SUM(CASE WHEN A.DATE>@DATE THEN 0 ELSE A.RQTY END) - ISNULL(SUM(CASE WHEN C.DATE>@DATE THEN 0 ELSE C.RQTY END),0) AS RQTY INTO #_TMPIT_STKRSRVSRTRN
	FROM STKRESRVSRTRN A
		INNER JOIN #_TMPIT_SRTRN B ON A.ITRAN_CD=B.ITRAN_CD 
		LEFT JOIN IT_SRTRN C ON A.ENTRY_TY=C.RENTRY_TY AND A.TRAN_CD=C.RTRAN_CD AND A.ITSERIAL=C.RITSERIAL AND A.ITRAN_CD=C.ITRAN_CD
	GROUP BY A.ITRAN_CD
--**** Added By Sachin N. S. on 07/03/2014 for Bug-21381 -- End

--SELECT A.ITRAN_CD, SUM(CASE WHEN A.DATE<=@DATE THEN (CASE WHEN A.PMKEY='+' THEN A.RQTY ELSE -A.RQTY END) ELSE 0 END) AS RQTY, 
--		SUM(CASE WHEN A.DATE>@DATE THEN (CASE WHEN A.PMKEY='+' THEN A.RQTY ELSE -A.RQTY END) ELSE 0 END) AS DTG_RQTY INTO #_TMPIT_SRTRN
--		FROM IT_SRTRN A WHERE NOT (A.ENTRY_TY=@ENTRY_TY AND A.TRAN_CD=@TRAN_CD) 
--		--AND A.ITSERIAL=@ITSERIAL) 
--		AND A.IT_CODE=@ITCODE AND A.DC_NO='' AND A.WARE_NM=@WARE_NM		--Changed By Sachin N. S. on 20/03/2012 for Bug-3196 Version 1.1
--GROUP BY A.ITRAN_CD 
-- Changed By Sachin N. S. on 26/04/2012 for Bug-3196 Version 1.1 -- End

SELECT C.RENTRY_TY AS ENTRY_TY, C.RDATE AS DATE, C.RTRAN_CD AS TRAN_CD, C.RINV_NO AS INV_NO, C.RITSERIAL AS ITSERIAL, C.ENTRY_TY AS RENTRY_TY, 
	C.DATE AS RDATE, C.TRAN_CD AS RTRAN_CD, C.INV_NO AS RINV_NO, C.ITSERIAL AS RITSERIAL, C.QTY, C.RQTY*0 as RQTY, SPACE(1) AS PMKEY, B.*, 
	'A' As Mode, A.RQTY-ISNULL(D.RQTY,0) AS BALQTY, A.DTG_RQTY, ISNULL(D.RQTY,0) as STKRSRVQTY,	-- Changed By Sachin N. S. on 07/03/2014 for Bug-21381
	C.WARE_NM, WARE_NMFR=@WARE_NM		--Changed By Sachin N. S. on 20/03/2012 for Bug-3196 Version 1.1
	FROM #_TMPIT_SRTRN A 
		INNER JOIN IT_SRSTK B on A.ITRAN_CD=B.ITRAN_CD 
		INNER JOIN IT_SRTRN C on B.ITRAN_CD=C.ITRAN_CD AND B.INENTRY_TY=C.ENTRY_TY AND B.INTRAN_CD=C.TRAN_CD AND B.INITSERIAL=C.ITSERIAL AND C.DC_NO=''
		LEFT JOIN #_TMPIT_STKRSRVSRTRN D ON A.ITRAN_CD=D.ITRAN_CD	-- Added By Sachin N. S. on 07/03/2014 for Bug-21381
	WHERE A.RQTY > 0 ORDER BY C.DATE, C.ENTRY_TY, C.TRAN_CD, C.ITSERIAL

--'A' As Mode, A.RQTY AS BALQTY, A.DTG_RQTY,	--Changed By Sachin N. S. on 20/03/2012 for Bug-3196 Version 1.1	-- Changed By Sachin N. S. on 07/03/2014 for Bug-21381
GO
