If Exists(Select [name] From SysObjects Where xType='P' and [name]='USP_REP_HS_BILL_C1')
Begin
	Drop Procedure USP_REP_HS_BILL_C1
End
GO
--execute USP_REP_HS_BILL_C1 1
	Create PROCEDURE [dbo].[USP_REP_HS_BILL_C1] 
		@TRANCD INT
	AS
	BEGIN

		SET NOCOUNT ON;

		DECLARE @SQLCOMMAND NVARCHAR(MAX), @DISCCHRGS NVARCHAR(MAX)
		DECLARE @V_DISC BIT, @I_DISC BIT, @STAX_TRAN BIT, @STAX_ITEM BIT

		SELECT @V_DISC=V_DISC, @I_DISC=I_DISC, @STAX_TRAN=STAX_TRAN, @STAX_ITEM=STAX_ITEM FROM LCODE WHERE ENTRY_TY='HS'
		SELECT @DISCCHRGS=''
		IF @V_DISC = 1
		BEGIN
			SELECT @DISCCHRGS=COALESCE(@DISCCHRGS,'')+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'A.'+LTRIM(RTRIM(FLD_NM))+ ' AS HD_'+LTRIM(RTRIM(FLD_NM)) + CASE WHEN PERT_NAME='' THEN '' ELSE ',A.'+LTRIM(RTRIM(PERT_NAME))+' AS HD_'+LTRIM(RTRIM(PERT_NAME)) END FROM DCMAST WHERE ENTRY_TY='HS' AND ATT_FILE=1
		END
		IF @I_DISC = 1
		BEGIN
			SELECT @DISCCHRGS=COALESCE(@DISCCHRGS,'')+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'B.'+LTRIM(RTRIM(FLD_NM))+ ' AS DT_'+LTRIM(RTRIM(FLD_NM)) + CASE WHEN PERT_NAME='' THEN '' ELSE ',B.'+LTRIM(RTRIM(PERT_NAME))+' AS DT_'+LTRIM(RTRIM(PERT_NAME)) END FROM DCMAST WHERE ENTRY_TY='HS' AND ATT_FILE=0
		END
		IF @STAX_TRAN = 1
		BEGIN
			SELECT @DISCCHRGS=@DISCCHRGS+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'A.TAX_NAME,A.TAXAMT'
		END
		IF @STAX_ITEM = 1
		BEGIN
			SELECT @DISCCHRGS=@DISCCHRGS+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'B.TAX_NAME,B.TAXAMT'
		END

		SET @SQLCOMMAND = 'SELECT A.ENTRY_TY, A.DATE, A.TRAN_CD, A.DEPT, A.CATE, A.PARTY_NM,A.CUST_NM, A.INV_NO, A.INV_SR, A.L_YN, A.GRO_AMT, '
		SET @SQLCOMMAND = @SQLCOMMAND+' A.NET_AMT, A.SYSDATE, A.AC_ID,A.GRO_AMT,B.ITEM_NO, B.ITEM, B.QTY,c.hsncode, B.RATE, B.GRO_AMT AS ITGRO_AMT, '
		SET @SQLCOMMAND = @SQLCOMMAND+' B.IT_CODE, B.U_ASSEAMT,B.SGST_PER,B.SGST_AMT,B.CGST_PER,B.CGST_AMT,A.BALAMT,c.rateunit,C.IT_DESC, A.TOTALPAID, A.ROUNDOFF '+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+@DISCCHRGS   --B.itdiscamt,
		SET @SQLCOMMAND = @SQLCOMMAND+' ,B.batchno, B.mfgdt,B.expdt, A.PATIENTNM,A.DRNAME,patient_Address=pm.add1 + pm.add2 + pm.add3 ,Dr_Addr=dm.add1 + dm.add2 + dm.add3 , A.tot_fdisc, C.p_unit,B.tot_fdisc as itemdisc,pp.paymode,PS.SCHEDULE,pmm.name as mrf' --Prajakta
		SET @SQLCOMMAND = @SQLCOMMAND+' FROM DCMAIN A '
		SET @SQLCOMMAND = @SQLCOMMAND+' INNER JOIN DCITEM B ON A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD '
		SET @SQLCOMMAND = @SQLCOMMAND+' INNER JOIN it_mast C ON b.it_code=C.it_code'
		SET @SQLCOMMAND = @SQLCOMMAND+' left join pretsalt_master ps on (c.prSalt=ps.Salt)'
		SET @SQLCOMMAND = @SQLCOMMAND+' left join pRetManufacturerMast pmm on (c.prManufacturer=pmm.Name)'
		SET @SQLCOMMAND = @SQLCOMMAND+' left join pRetPatientMast pm on a.PATIENTNM=pm.name'
		SET @SQLCOMMAND = @SQLCOMMAND+' left join pRetDrMast dm on a.DRNAME=dm.name'
		SET @SQLCOMMAND = @SQLCOMMAND+' left join PSPAYDETAIL pp on pp.entry_ty=A.entry_ty and pp.tran_cd=A.tran_cd '
		SET @SQLCOMMAND = @SQLCOMMAND+' WHERE A.ENTRY_TY=''HS'' AND A.TRAN_CD='+CAST(@TRANCD AS VARCHAR)  --Prajakta
		


print @SQLCOMMAND
		EXECUTE SP_EXECUTESQL @SQLCOMMAND 
				
	END


