IF EXISTS(SELECT * FROM SYSOBJECTS WHERE XTYPE='P' AND [NAME] = 'USP_REP_Pharma_MIS_PRSTKLST')
BEGIN
 DROP PROCEDURE USP_REP_Pharma_MIS_PRSTKLST
END
Go

CREATE PROCEDURE [dbo].[USP_REP_Pharma_MIS_PRSTKLST]
@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
AS

SET QUOTED_IDENTIFIER OFF
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
,@SFLDNM VARCHAR(10)
EXECUTE   USP_REP_FILTCON 
@VTMPAC ='',@VTMPIT ='',@VSPLCOND ='it_mast.NONSTK=`Stockable` and MVW.[RULE]  NOT IN (`ANNEXURE III`,`ANNEXURE V`)'
,@VSDATE=NULL
 ,@VEDATE=@EDATE
,@VSAC ='',@VEAC =''
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=0.00,@VEAMT=0.00
,@VSDEPT='',@VEDEPT=''
,@VSCATE ='',@VECATE =''
,@VSWARE ='',@VEWARE =''
,@VSINV_SR ='',@VEINV_SR =''
,@VMAINFILE='MVW',@VITFILE='IVW',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=NULL
,@VFCON =@FCON OUTPUT

set @SFLDNM='It_name'
print @FCON
--select @FCON

DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(4000)

SELECT  STKL_VW_ITEM.ENTRY_TY,BEH='  ',STKL_VW_ITEM.DATE,STKL_VW_ITEM.DOC_NO,STKL_VW_ITEM.AC_ID,STKL_VW_ITEM.IT_CODE,STKL_VW_ITEM.QTY,STKL_VW_ITEM.U_LQTY,STKL_VW_ITEM.ITSERIAL,STKL_VW_ITEM.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT 
INTO #TITEM FROM STKL_VW_ITEM 
INNER JOIN STKL_VW_MAIN  ON (STKL_VW_ITEM.TRAN_CD=STKL_VW_MAIN.TRAN_CD )
INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=STKL_VW_ITEM.IT_CODE)
INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=STKL_VW_MAIN.AC_ID)
INNER JOIN LCODE  ON (STKL_VW_ITEM.ENTRY_TY=LCODE.ENTRY_TY)
WHERE 1=2

SET @SQLCOMMAND='INSERT INTO  #TITEM SELECT  IVW.ENTRY_TY,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END),IVW.DATE,IVW.DOC_NO,IVW.AC_ID,IVW.IT_CODE,IVW.QTY,IVW.U_LQTY,IVW.ITSERIAL,IVW.PMKEY,IT_MAST.ITGRID,IT_MAST.[GROUP],IT_MAST.IT_NAME,IT_MAST.CHAPNO,IT_MAST.TYPE,IT_MAST.RATEUNIT '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  FROM STKL_VW_ITEM IVW'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STKL_VW_MAIN MVW ON (IVW.TRAN_CD=MVW.TRAN_CD AND IVW.ENTRY_TY=MVW.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST  ON (IT_MAST.IT_CODE=IVW.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=MVW.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN LCODE  ON (IVW.ENTRY_TY=LCODE.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND MVW.APGEN='+CHAR(39)+'YES'+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IVW.DC_NO='+CHAR(39)+' '+CHAR(39)

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

--Select DESCRIPTION = IT_NAME,RATEUNIT,OPBAL = QTY,RQTY_PT = QTY,RQTY_OP = QTY,RQTY_IR = QTY,RQTY_SR = QTY,RQTY_AR = QTY,RQTY_OT = QTY,IQTY_ST = QTY,IQTY_DC = QTY,IQTY_IP = QTY,IQTY_II = QTY,IQTY_PR = QTY,IQTY_OT = QTY,CLBAL = QTY into #TITEM2 from #TITEM where 1=2  --Commented by Prajakta B. on 23/11/2018 for Bug 31930
Select DESCRIPTION = IT_NAME,RATEUNIT,OPBAL = QTY,RQTY_PT = QTY,RQTY_OP = QTY,RQTY_IR = QTY,RQTY_SR = QTY,RQTY_AR = QTY,RQTY_OT = QTY,IQTY_ST = QTY,IQTY_IP = QTY,IQTY_II = QTY,IQTY_PR = QTY,IQTY_OT = QTY,CLBAL = QTY into #TITEM2 from #TITEM where 1=2 --Modified by Prajakta B. on 23/11/2018 for Bug 31930

SET @SQLCOMMAND='Insert into #TITEM2 SELECT DESCRIPTION=A.'+@SFLDNM+',A.RATEUNIT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',OPBAL =SUM(CASE WHEN (A.BEH ='+'''OS'''+' OR A.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN (CASE WHEN A.PMKEY='+'''+'''+' THEN A.QTY ELSE -A.QTY END) ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_PT = SUM(CASE WHEN A.BEH ='+'''PT'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_OP = SUM(CASE WHEN A.BEH ='+'''OP'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_IR = SUM(CASE WHEN A.BEH ='+'''IR'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_SR = SUM(CASE WHEN A.BEH ='+'''SR'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_AR=SUM(CASE WHEN A.BEH ='+'''AR'''+' AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RQTY_OT=SUM(CASE WHEN A.BEH NOT IN ('+'''OS'''+','+'''PT'''+','+'''OP'''+','+'''IR'''+','+'''SR'''+','+'''AR'''+') AND A.PMKEY='+'''+'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_ST  =SUM(CASE WHEN A.BEH in ='+'''ST'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39) +'THEN A.QTY ELSE 0 END)'  --Commented by Prajakta B. on 23/11/2018 for Bug 31930
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_ST  =SUM(CASE WHEN A.BEH in ('+'''ST'''+','+'''DC'''+') AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39) +'THEN A.QTY ELSE 0 END)'  --Modified by Prajakta B. on 23/11/2018 for Bug 31930
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_DC  =SUM(CASE WHEN A.BEH ='+'''DC'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'  --Commented by Prajakta B. on 23/11/2018 for Bug 31930
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_IP  =SUM(CASE WHEN A.BEH ='+'''IP'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_II  =SUM(CASE WHEN A.BEH ='+'''II'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_PR  =SUM(CASE WHEN A.BEH ='+'''PR'''+' AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',IQTY_OT  =SUM(CASE WHEN A.BEH NOT IN ('+'''ST'''+','+'''IP'''+','+'''II'''+','+'''PR'''+','+'''DC'''+') AND A.PMKEY='+'''-'''+' AND A.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN A.QTY ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',CLBAL    =SUM(CASE WHEN  A.PMKEY='+'''+'''+' THEN A.QTY ELSE -A.QTY END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM #TITEM A'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' GROUP BY A.'+@SFLDNM+',A.RATEUNIT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY A.'+@SFLDNM+',A.RATEUNIT'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

Select * from #TITEM2

DROP TABLE #TITEM
DROP TABLE #TITEM2
