IF EXISTS(SELECT * FROM SYSOBJECTS WHERE XTYPE='P' AND [NAME] = 'Usp_Rep_Pharma_MIS_POS')
BEGIN
 DROP PROCEDURE Usp_Rep_Pharma_MIS_POS
END
Go

CREATE PROCEDURE [dbo].[Usp_Rep_Pharma_MIS_POS]
(@FrmDate SMALLDATETIME,@Todate SMALLDATETIME,@FParty nvarchar(100),@TParty nvarchar(100),@FSupply nvarchar(100),@TSupply nvarchar(100)
,@FSeries nvarchar(100),@TSeries nvarchar(100),@FDept nvarchar(100),@TDept nvarchar(100))
AS
DECLARE @SQLCOMMAND NVARCHAR(4000)
SET @SQLCOMMAND='SELECT DI.DATE,DI.INV_NO,DM.INV_SR,DI.ITSERIAL,DM.DEPT,DM.CATE,DI.ITEM,DI.QTY,DI.RATE,DI.U_ASSEAMT,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'DI.CGST_PER,DI.CGST_AMT,DI.SGST_PER,DI.SGST_AMT,'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'DI.GRO_AMT,PS.PAYMODE,DI.BATCHNO,DI.MFGDT,DI.EXPDT'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'from DCMAIN DM'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN DCITEM DI ON (DM.ENTRY_TY=DI.ENTRY_TY AND DM.TRAN_CD=DI.TRAN_CD)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN IT_MAST IT on (DI.IT_CODE=IT.IT_CODE)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'INNER JOIN PSPAYDETAIL PS ON (DM.INV_NO=PS.INV_NO)'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'WHERE (DI.DATE BETWEEN '+CHAR(39)+cast(@FrmDate as varchar)+CHAR(39)
+' AND '+CHAR(39)+cast(@Todate as varchar)+CHAR(39)
+') AND (DM.INV_SR BETWEEN '''+@FSeries+''' AND '''+@TSeries+''') AND (DM.DEPT BETWEEN '''+@FDept+''' AND '''+@TDept+''')'
SET @SQLCOMMAND=@SQLCOMMAND+' '+'AND (IT.IT_NAME BETWEEN '''+@FSupply+''' AND '''+@TSupply+''')'

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND



