If Exists(Select [name] From SysObjects Where xType='P' and [name]='Usp_Rep_GSTR6')
Begin
	Drop Procedure Usp_Rep_GSTR6
End
GO
CREATE Procedure [dbo].[Usp_Rep_GSTR6]
	@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
	,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
	,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
	,@SAMT FLOAT,@EAMT FLOAT
	,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
	,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
	,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
	,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
	,@LYN VARCHAR(20)
	,@EXPARA  AS VARCHAR(60)= NULL
As
BEGIN
	Declare @FCON as NVARCHAR(2000),@fld_list NVARCHAR(2000)
	EXECUTE   USP_REP_FILTCON 
		@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
		,@VSDATE=@SDATE,@VEDATE=@EDATE
		,@VSAC =@SAC,@VEAC =@EAC
		,@VSIT=@SIT,@VEIT=@EIT
		,@VSAMT=@SAMT,@VEAMT=@EAMT
		,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
		,@VSCATE =@SCATE,@VECATE =@ECATE
		,@VSWARE =@SWARE,@VEWARE  =@EWARE
		,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
		,@VMAINFILE='M',@VITFILE=Null,@VACFILE='i'
		,@VDTFLD ='DATE'
		,@VLYN=Null
		,@VEXPARA=@EXPARA
		,@VFCON =@FCON OUTPUT

	-------Temporary Table Creation ----
	SELECT  Tran_cd =IDENTITY(INT,1,1),PART=0,PARTSR='AAAA',SRNO= SPACE(2),INV_NO=SPACE(40), H.DATE,ORG_INVNO=SPACE(40)
	, H.DATE AS ORG_DATE, D.QTY, cast(0.00 as numeric(16,2)) AS Taxableamt, d.CGST_PER AS RATE, d.CGST_PER, D.CGST_AMT, d.SGST_PER, D.SGST_AMT
	, d.IGST_PER,D.IGST_AMT,D.IGST_AMT as Cess_Amt,D.IGST_AMT as Cessr_Amt	,D.GRO_AMT, IT.IT_NAME
	, cast(IT.IT_DESC as varchar(250)) as IT_DESC , Isservice=SPACE(150), IT.HSNCODE
	,HSN_DESC = IT.SERTY,cast('' as varchar(100)) as ac_name	, ac.gstin
	,SUPP_TYPE = SPACE(100),st_type= SPACE(100),StateCode=space(5),Ecomgstin =space(30),from_srno =space(30),to_srno =space(30)
	,ORG_GSTIN =space(30) ,SBBILLNO=space(50),SBDATE=H.DATE,rptmonth=SPACE(15),rptyear =SPACE(15) ,Amenddate
	into #GSTR6
	FROM  JVMAIN H 
	INNER JOIN JVITEM D ON (H.ENTRY_TY = D .ENTRY_TY AND H.TRAN_CD = D .TRAN_CD) 
	INNER JOIN IT_MAST IT ON (D .IT_CODE = IT.IT_CODE) 
	--LEFT OUTER JOIN shipto ON (shipto.shipto_id = h.scons_id) 
	LEFT OUTER JOIN ac_mast ac ON (h.cons_id = ac.ac_id)  
	WHERE 1=2

/* GSTR6_VW DATA STORED IN TEMPORARY TABLE*/
--SELECT DISTINCT HSN_CODE, CAST(HSN_DESC AS VARCHAR(250)) AS HSN_DESC INTO #HSN FROM HSN_MASTER

SELECT mEntry=case when l.Bcode_nm<>'' then l.Bcode_nm else (case when l.ext_vou=1 then '' else l.entry_ty end) end,
		RATE= (case when (isnull(A.CGST_PER,0)+isnull(A.SGST_PER,0)) >0  then (isnull(A.CGST_PER,0)+isnull(A.SGST_PER,0))
					when (isnull(A.IGST_PER,0)) > 0 then (isnull(A.IGST_PER,0)) else isnull(A.gstrate,0) end)
		,igst_amt1=ISNULL(a.igst_amt,0),cgst_amt1=ISNULL(a.cgst_amt,0),sGST_AMT1=isnull(a.sGST_AMT,0),CESS_AMT1 =isnull(a.CESS_AMT,0)
		,A.*--,HSN_DESC=ISNULL((SELECT TOP 1 HSN_DESC FROM #HSN WHERE HSN_CODE = A.HSNCODE),'')
INTO #GSTR6TBL 
FROM GSTR6_VW A
inner join lcode l  on (a.entry_ty=l.entry_ty)
WHERE (A.DATE BETWEEN @SDATE AND @EDATE) and A.AMENDDATE=''

--SELECT * FROM #GSTR6TBL
-----Amended Detail Temp table 
SELECT mEntry=case when l.Bcode_nm<>'' then l.Bcode_nm else (case when l.ext_vou=1 then '' else l.entry_ty end) end,
		RATE= (case when (isnull(A.CGST_PER,0)+isnull(A.SGST_PER,0)) >0  then (isnull(A.CGST_PER,0)+isnull(A.SGST_PER,0))
					when (isnull(A.IGST_PER,0)) > 0 then (isnull(A.IGST_PER,0)) else isnull(A.gstrate,0) end)
		,igst_amt1=ISNULL(a.igst_amt,0),cgst_amt1=ISNULL(a.cgst_amt,0),sGST_AMT1=isnull(a.sGST_AMT,0),CESS_AMT1 =isnull(a.CESS_AMT,0)
		,A.*--,HSN_DESC=ISNULL((SELECT TOP 1 HSN_DESC FROM #HSN WHERE HSN_CODE = A.HSNCODE),'')
INTO #GSTR6AMD
FROM GSTR6_VW A
inner join lcode l  on (a.entry_ty=l.entry_ty)
WHERE (A.AMENDDATE BETWEEN @SDATE AND @EDATE) --AND A.HSNCODE <> ''

--select * from GSTR6_VW
Declare @amt1 decimal(18,2),@amt2 decimal(18,2),@amt3 decimal(18,2),@amt4 decimal(18,2),@from_srno varchar(30),@to_srno varchar(30)

/* 3. Input tax credit received for distribution*/
Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,rate,taxableamt
	,CGST_AMT,SGST_AMT,IGST_AMT,cess_amt,AC_NAME,SUPP_TYPE,ST_TYPE)
SELECT 3 AS PART ,'3A' AS PARTSR,'A' AS SRNO,gstin,inv_no,date,gro_amt,rate,sum(taxableamt)taxableamt
,sum(CGST_AMT1)CGST_AMT ,sum(SGST_AMT1)SGST_AMT,sum(IGST_AMT1)IGST_AMT,sum(cess_amt1)cess_amt ,'' as AC_NAME,''as SUPP_TYPE,'' as ST_TYPE 
from #GSTR6TBL
where ENTRY_TY='PT' AND taxableamt > 0 and u_imporm in ('Domestic Purchases','Branch Transfer','SEZ Developer Purchase','SEZ Unit Purchase')
and st_type in ('INTRASTATE','INTERSTATE') and linerule='Taxable' and supp_type in ('REGISTERED','SEZ')
and gstin <>'' and (SGST_AMT + CGST_AMT  + IGST_AMT + cess_amt) > 0
group by gstin,inv_no,date,rate,gro_amt
Order by Date,Inv_no,Rate
  
IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '3A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(3,'3A','A','','','',0,0,0,0,0,0,0,0,'','','','',0)
END

/* 4. Total ITC/Eligible ITC/Ineligible ITC to be distributed for tax period (From Table No. 3)*/
SELECT *
into #temp_itc_1
from #GSTR6TBL
where ENTRY_TY='PT' AND taxableamt > 0 
and u_imporm in ('Domestic Purchases','Branch Transfer','SEZ Developer Purchase','SEZ Unit Purchase')
and st_type in ('INTRASTATE','INTERSTATE') and linerule='Taxable' and supp_type in ('REGISTERED','SEZ')
and gstin <>'' and (SGST_AMT + CGST_AMT  + IGST_AMT + cess_amt) > 0
Order by Date,Inv_no,Rate

select * into #temp_itc from
(
	select a.gstin,a.inv_no,a.date,a.itserial,tot_elg_ielg='Total ITC'
	,igst=ISNULL(a.igst_amt,0),cgst=ISNULL(a.cgst_amt,0),sgst=ISNULL(a.sgst_amt,0),cess=ISNULL(a.cess_amt,0)
	from #temp_itc_1 A
	left JOIN Epayment B ON (A.Tran_cd =B.tran_cd AND A.Entry_ty =B.entry_ty AND A.ITSERIAL =B.itserial)  

	union all

	select a.gstin,a.inv_no,a.date,a.itserial,tot_elg_ielg='Eligible ITC'
	,eitc_igst=case when gstype <> 'Ineligible for ITC' and avl_itc = 1 then (ISNULL(a.igst_amt,0)-ISNULL(b.iigst_amt,0)) else 0 end
	,eitc_icgst=case when gstype <> 'Ineligible for ITC' and avl_itc = 1 then (ISNULL(a.cgst_amt,0) - ISNULL(b.icgst_amt,0)) else 0 end
	,eitc_isGST=case when gstype <> 'Ineligible for ITC' and avl_itc = 1 then (isnull(a.sGST_AMT,0)-isnull(b.isGST_AMT,0)) else 0 end
	,eitc_ICESS =case when gstype <> 'Ineligible for ITC' and avl_itc = 1 then (isnull(a.CESS_AMT,0) - isnull(b.ICESS_AMT,0)) else 0 end
	from #temp_itc_1 A
	left JOIN Epayment B ON (A.Tran_cd =B.tran_cd AND A.Entry_ty =B.entry_ty AND A.ITSERIAL =B.itserial)

	union all

	select a.gstin,a.inv_no,a.date,a.itserial,tot_elg_ielg='InEligible ITC'
	,eitc_igst=ISNULL(b.iigst_amt,0),eitc_icgst=ISNULL(b.icgst_amt,0),eitc_isGST=isnull(b.isGST_AMT,0),eitc_ICESS =isnull(b.ICESS_AMT,0)
	from #temp_itc_1 A
	left JOIN Epayment B ON (A.Tran_cd =B.tran_cd AND A.Entry_ty =B.entry_ty AND A.ITSERIAL =B.itserial)  
) temp_itc


Insert Into #GSTR6(PART,PARTSR,SRNO,INV_NO,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt)
select 4 AS PART ,'4A' AS PARTSR,(case tot_elg_ielg when 'Total ITC' then 'A' when 'Eligible ITC' then 'B' else 'C' end) AS SRNO,tot_elg_ielg
,sum(igst) as totitc_igst,sum(cgst) as totitc_cgst,sum(sgst) as totitc_sgst,sum(cess) as totitc_cess 
from #temp_itc
group by tot_elg_ielg
order by (case tot_elg_ielg when 'Total ITC' then 'A' when 'Eligible ITC' then 'B' else 'C' end)
  
IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '4A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(4,'4A','A','','Total ITC','',0,0,0,0,0,0,0,0,'','','','',0)
END

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '4A' AND SRNO ='B')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(4,'4A','B','','Eligible ITC','',0,0,0,0,0,0,0,0,'','','','',0)
END

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '4A' AND SRNO ='C')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(4,'4A','C','','Ineligible ITC','',0,0,0,0,0,0,0,0,'','','','',0)
END

/* 5. Distribution of input tax credit reported in Table 4*/
/*5A. Distrubution of the amount of eligible ITC*/
Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt)
select 5 AS PART ,'5A' AS PARTSR,'A' AS SRNO,gstin,inv_no,date
,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt
from #GSTR6TBL 
where entry_ty='IB' AND u_imporm not in ('Invoice Credit Mismatch','Redistribution of ITC distributed to a wrong recipient')
and (CGST_AMT+SGST_AMT+IGST_AMT)>0


IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '5A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(5,'5A','A','','','',0,0,0,0,0,0,0,0,'','','','',0)
END

/*5B. Distribution of the amount of ineligible ITC*/
Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt)
select 5 AS PART ,'5B' AS PARTSR,'B' AS SRNO,gstin,inv_no,date
,IIGST_AMT,ICGST_AMT,ISGST_AMT,ICOMPCESS
from #GSTR6TBL 
where entry_ty='IB' AND u_imporm not in ('Invoice Credit Mismatch','Redistribution of ITC distributed to a wrong recipient')
and (ICGST_AMT+ISGST_AMT+IIGST_AMT)>0

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '5B' AND SRNO ='B')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(5,'5B','B','','','',0,0,0,0,0,0,0,0,'','','','',0)
END

/*6. Amendments in information furnished in earlier returns in Table No. 3*/
/*6A. Information furnished in Table 3 in an earlier period was incorrect*/
Insert Into #GSTR6(PART,PARTSR,SRNO,ORG_GSTIN,ORG_INVNO,ORG_DATE,gstin,inv_no,date,gro_amt,rate,taxableamt
	,CGST_AMT,SGST_AMT,IGST_AMT,Cess_Amt)
select 6 AS PART ,'6A' AS PARTSR,'A' AS SRNO,Consgstin,org_invno,org_date,gstin,inv_no,amenddate,net_amt,rate,sum(taxableamt)taxableamt
,SUM(CGST_AMT1)CGST_AMT,SUM(SGST_AMT1)SGST_AMT,SUM(IGST_AMT1)IGST_AMT,SUM(cess_amt1)cess_amt
from #GSTR6AMD
where mentry in ('PT') AND taxableamt > 0 and u_imporm in ('Domestic Purchases','Branch Transfer','SEZ Developer Purchase','SEZ Unit Purchase')
and st_type in ('INTRASTATE','INTERSTATE') and linerule='Taxable' and supp_type in ('REGISTERED','SEZ')
and gstin <>'' and (SGST_AMT + CGST_AMT  + IGST_AMT + cess_amt) > 0
GROUP BY ORG_INVNO,ORG_DATE,Consgstin,INV_NO,AMENDDATE,rate ,net_amt,gstin

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '6A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(6,'6A','A','','','',0,0,0,0,0,0,0,0,'','','','',0)
END

/*6B. Debit Notes/Credit Notes received [Original]*/
--Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt)
Insert Into #GSTR6(PART,PARTSR,SRNO,ORG_GSTIN,ORG_INVNO,ORG_DATE,gstin,inv_no,date,gro_amt,rate,taxableamt
	,CGST_AMT,SGST_AMT,IGST_AMT,Cess_Amt)
select 6 AS PART,'6B' AS PARTSR,'B' AS SRNO
,(CASE WHEN isnull(ltrim(rtrim(CONSGSTIN)),'') = '' THEN (case when isnull(ltrim(rtrim(GSTIN)),'') <> '' then ltrim(rtrim(GSTIN)) 
	else '' end) ELSE ltrim(rtrim(CONSGSTIN)) END) AS ORG_GSTIN
,ORG_INVNO,ORG_DATE,gstin,INV_NO,DATE,net_amt,rate,SUM(taxableamt)taxableamt,SUM(CGST_AMT)CGST_AMT
,SUM(SGST_AMT)SGST_AMT,SUM(IGST_AMT)IGST_AMT,SUM(cess_amt)cess_amt
from #GSTR6TBL
where mentry in ('CN','DN') AND taxableamt > 0 and u_imporm in ('Domestic Purchases','Branch Transfer','SEZ Developer Purchase','SEZ Unit Purchase')
and st_type in ('INTRASTATE','INTERSTATE') and linerule='Taxable' and supp_type in ('REGISTERED','SEZ')
and gstin <>'' and (SGST_AMT + CGST_AMT  + IGST_AMT + cess_amt) > 0
GROUP BY ORG_INVNO,ORG_DATE,Consgstin,INV_NO,DATE,rate ,net_amt,gstin

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '6B' AND SRNO ='B')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,ORG_GSTIN,ORG_INVNO,ORG_DATE,gstin,inv_no,date,gro_amt,rate,taxableamt
	,CGST_AMT,SGST_AMT,IGST_AMT,Cess_Amt)
	VALUES(6,'6B','B','','','','','','',0,0,0,0,0,0,0)
END

/*6C. Debit Notes/Credit Notes [Amendments]*/
Insert Into #GSTR6(PART,PARTSR,SRNO,ORG_GSTIN,ORG_INVNO,ORG_DATE,gstin,inv_no,date,gro_amt,rate,taxableamt
	,CGST_AMT,SGST_AMT,IGST_AMT,Cess_Amt)
select 6 AS PART,'6C' AS PARTSR,'C' AS SRNO
,(CASE WHEN isnull(ltrim(rtrim(CONSGSTIN)),'') = '' THEN (case when isnull(ltrim(rtrim(GSTIN)),'') <> '' then ltrim(rtrim(GSTIN)) 
	else '' end) ELSE ltrim(rtrim(CONSGSTIN)) END) AS ORG_GSTIN
,ORG_INVNO,ORG_DATE,gstin,INV_NO,DATE,net_amt,rate,SUM(taxableamt)taxableamt,SUM(CGST_AMT)CGST_AMT
,SUM(SGST_AMT)SGST_AMT,SUM(IGST_AMT)IGST_AMT,SUM(cess_amt)cess_amt
from #GSTR6AMD
where mentry in ('CN','DN') AND taxableamt > 0 and u_imporm in ('Domestic Purchases','Branch Transfer','SEZ Developer Purchase','SEZ Unit Purchase')
and st_type in ('INTRASTATE','INTERSTATE') and linerule='Taxable' and supp_type in ('REGISTERED','SEZ')
and gstin <>'' and (SGST_AMT + CGST_AMT  + IGST_AMT + cess_amt) > 0
GROUP BY ORG_INVNO,ORG_DATE,Consgstin,INV_NO,DATE,rate ,net_amt,gstin

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '6C' AND SRNO ='C')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,ORG_GSTIN,ORG_INVNO,ORG_DATE,gstin,inv_no,date,gro_amt,rate,taxableamt
	,CGST_AMT,SGST_AMT,IGST_AMT,Cess_Amt)
	VALUES(6,'6C','C','','','','','','',0,0,0,0,0,0,0)
END


/*7. Input tax credit mis-matches and reclaims to be distributed in the tax period*/ 
--Auto Populate
/*7A. Input tax credit mismatch*/
--Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt)
--select 7 AS PART ,'7A' AS PARTSR,'A' AS SRNO,gstin,inv_no,date
--,IIGST_AMT,ICGST_AMT,ISGST_AMT,0 --Icess_amt
--from #GSTR6TBL 
--where mentry='IB' AND (ICGST_AMT+ISGST_AMT+IIGST_AMT)>0

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '7A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(7,'7A','A','','','',0,0,0,0,0,0,0,0,'7A. Input tax credit mismatch','','','',0)
END

/*7B. Input tax credit reclaimed on rectification of mismatch*/
--Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt)
--select 7 AS PART ,'7B' AS PARTSR,'B' AS SRNO,gstin,inv_no,date
--,IIGST_AMT,ICGST_AMT,ISGST_AMT,0 --Icess_amt
--from #GSTR6TBL 
--where mentry='IB' AND (ICGST_AMT+ISGST_AMT+IIGST_AMT)>0

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '7B' AND SRNO ='B')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(7,'7B','B','','','',0,0,0,0,0,0,0,0,'7B. Input tax credit reclaimed on rectification of mismatch','','','',0)
END


/*8. Distribution of input tax credit reported in Table No. 6 and 7 (plus/minus)*/
/*8A. Distribution of the amount of eligible ITC*/
Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,ORG_INVNO,ORG_DATE,CGST_AMT,SGST_AMT,IGST_AMT,cess_amt)
select 8 AS PART ,'8A' AS PARTSR,'A' AS SRNO,g6.gstin,c.inv_no as cinv_no,c.date as cdate
,im.inv_no as iinv_no,im.date as idate,c.cgst_amt,c.sgst_amt,c.igst_amt,c.COMPCESS
from #GSTR6TBL g6
inner join ibitem im on (g6.entry_ty=im.entry_ty and g6.tran_cd=im.tran_cd)
inner join othitref o on (im.entry_ty=o.rentry_ty and im.tran_cd=o.itref_tran)-- and im.itserial=o.ritserial)
inner join cnitem c on (o.entry_ty=c.entry_ty and o.tran_cd=c.tran_cd)
inner join cnmain cm on (cm.entry_ty=c.entry_ty and cm.tran_cd=c.tran_cd)
where (c.CGST_AMT+c.SGST_AMT+c.IGST_AMT+c.COMPCESS) > 0
AND cm.AGAINSTGS IN ('ISD INVOICE PASSING')
AND g6.U_IMPORM IN ('INVOICE CREDIT MISMATCH')

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '8A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(8,'8A','A','','','',0,0,0,0,0,0,0,0,'','','','',0)
END

/*8B. Distribution of the amount of ineligible ITC*/
Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,ORG_INVNO,ORG_DATE,CGST_AMT,SGST_AMT,IGST_AMT,cess_amt)
select 8 AS PART ,'8B' AS PARTSR,'B' AS SRNO,g6.gstin,c.inv_no as cinv_no,c.date as cdate
,im.inv_no as iinv_no,im.date as idate,im.ICGST_AMT,im.ISGST_AMT,im.IIGST_AMT,im.ICOMPCESS
from #GSTR6TBL g6
inner join ibitem im on (g6.entry_ty=im.entry_ty and g6.tran_cd=im.tran_cd)
inner join othitref o on (im.entry_ty=o.rentry_ty and im.tran_cd=o.itref_tran)-- and im.itserial=o.ritserial)
inner join cnitem c on (o.entry_ty=c.entry_ty and o.tran_cd=c.tran_cd)
inner join cnmain cm on (cm.entry_ty=c.entry_ty and cm.tran_cd=c.tran_cd)
where (im.ICGST_AMT+im.ISGST_AMT+im.IIGST_AMT+im.ICOMPCESS) > 0
AND cm.AGAINSTGS IN ('ISD INVOICE PASSING')
AND g6.U_IMPORM IN ('INVOICE CREDIT MISMATCH')

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '8B' AND SRNO ='B')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(8,'8B','B','','','',0,0,0,0,0,0,0,0,'','','','',0)
END

/*9. Redistribution of ITC distributed to a wrong recipient (plus/minus)*/
/*9A. Distribution of the amount of eligible ITC*/
--Currently not capturing - user need to enter manually
--Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt)
--select 9 AS PART ,'9A' AS PARTSR,'A' AS SRNO,gstin,inv_no,date
--,IIGST_AMT,ICGST_AMT,ISGST_AMT,cess_amt
--from #GSTR6TBL
--where mentry ='IB' AND u_imporm in ('Redistribution of ITC distributed to a wrong recipient')
--and (CGST_AMT+SGST_AMT+IGST_AMT)>0 
----where mentry='IB' AND (ICGST_AMT+ISGST_AMT+IIGST_AMT)>0

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '9A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(9,'9A','A','','','',0,0,0,0,0,0,0,0,'','','','',0)
END

/*9B. Distribution of the amount of ineligible ITC*/
--Currently not capturing - user need to enter manually
--Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,IGST_AMT,CGST_AMT,SGST_AMT,cess_amt)
--select 9 AS PART ,'9B' AS PARTSR,'B' AS SRNO,gstin,inv_no,date
--,IIGST_AMT,ICGST_AMT,ISGST_AMT,Icompcess
--from #GSTR6TBL 
--where mentry ='IB' AND u_imporm in ('Redistribution of ITC distributed to a wrong recipient')
--and (ICGST_AMT+ISGST_AMT+IIGST_AMT)>0 

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '9B' AND SRNO ='B')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(9,'9B','B','','','',0,0,0,0,0,0,0,0,'','','','',0)
END


/*10. Late Fee*/
;WITH DuplicateRec as
(
	Select recid=row_number() over (Partition By ac_name
	Order by m.inv_no),a.ac_name,a.amount,m.u_cldt,m.inv_no
	from bpmain m
	inner join bpacdet a on (m.entry_ty=a.entry_ty and m.tran_cd=a.tran_cd)
	where m.entry_ty IN ('GB') 
	and m.u_cldt<=@EDATE
	and a.ac_name in ('Central GST Late Fee Payable A/C','State GST Late Fee Payable A/C')
)
select ac_name,inv_no,amount,u_cldt into #temp_10 from DuplicateRec

Insert Into #GSTR6(PART,PARTSR,SRNO,inv_no,CGST_AMT,SGST_AMT)
select 10 AS PART ,'10A' AS PARTSR,'A' AS SRNO,inv_no
,max(case when ac_name = 'Central GST Late Fee Payable A/C' then amount end) 'CGST Late Fee',
max(case when ac_name = 'State GST Late Fee Payable A/C' then amount end) 'SGST Late Fee'
from #temp_10
group by inv_no;

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '10A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(10,'10A','A','','','',0,0,0,0,0,0,0,0,'','','','',0)
END

drop table #temp_10

/*11. Refund claimed from electronic cash ledger*/
SET DATEFORMAT DMY
;WITH DuplicateRec as
(
	Select recid=row_number() over (Partition By ac_name
	Order by H.inv_no),a.ac_name,H.REVSTYPE,H.RRGST,H.ENDPRDDT,H.CGST_FAMT,H.CGST_OAMT,H.SGST_FAMT,H.SGST_OAMT,H.inv_no,H.U_BANKNAME
	FROM JVMAIN H
	INNER JOIN JVACDET A ON (H.ENTRY_TY=A.ENTRY_TY AND H.TRAN_CD=A.TRAN_CD)
	WHERE H.REVSTYPE='REFUND CLAIMED FROM ELECTRONIC CASH LEDGER (GSTR-6)'
	AND H.RRGST='INPUT TAX'
	AND H.ENDPRDDT BETWEEN '01-03-2019' AND '31-03-2019'
	AND A.AC_NAME IN ('Central GST ITC A/C','State GST ITC A/C')
)
SELECT * into #temp_11 from DuplicateRec

Insert Into #GSTR6(PART,PARTSR,SRNO,inv_no,AC_NAME,CGST_AMT,SGST_AMT,GSTIN)
select 11 AS PART ,'11A' AS PARTSR,'A' AS SRNO,inv_no
,case when ac_name = 'Central GST ITC A/C' then '(a) Central Tax' ELSE '(b) State/UT Tax' end
,max(case when ac_name = 'Central GST ITC A/C' then CGST_FAMT ELSE SGST_FAMT end) 'Fee Amt'
,max(case when ac_name = 'Central GST ITC A/C' then CGST_OAMT ELSE SGST_OAMT end) 'Other Amt'
,U_BANKNAME
from #temp_11
group by inv_no,AC_NAME,U_BANKNAME
ORDER BY AC_NAME;

DROP TABLE #temp_11

IF NOT EXISTS(SELECT PART FROM #GSTR6 WHERE PARTSR = '11A' AND SRNO ='A')
BEGIN
	Insert Into #GSTR6(PART,PARTSR,SRNO,gstin,inv_no,date,gro_amt,taxableamt
		,SGST_PER,SGST_AMT,CGST_PER,CGST_AMT,IGST_PER,IGST_AMT,AC_NAME,SUPP_TYPE,ST_TYPE,StateCode,cess_amt)
	VALUES(11,'11A','A','','','',0,0,0,0,0,0,0,0,'','','','',0)
END




UPDATE #GSTR6
SET rptmonth =datename(mm,@SDATE),rptyear =year(@SDATE) 
,GSTIN =(CASE WHEN ISNULL(gstin,'')='UNREGISTERED' THEN '' ELSE isnull(gstin,'') END )
,ORG_GSTIN =(CASE WHEN ISNULL(ORG_GSTIN,'')='UNREGISTERED' THEN '' ELSE isnull(ORG_GSTIN,'') END )

IF ISNULL(@EXPARA,'') = ''
BEGIN
	SELECT * FROM #GSTR6 --where part=8
	order by PART
	--,case when PART=10 then ac_name else '' end
	,partsr,srno,tran_cd
END

END

--set dateformat dmy EXECUTE Usp_Rep_GSTR6'','','','01/03/2019 ','31/03/2019','','','','',0,0,'','','','','','','','','2018-2019',''
--set dateformat dmy EXECUTE Usp_Rep_GSTR6'','','','01/04/2019 ','30/04/2019','','','','',0,0,'','','','','','','','','2018-2019',''
