If Exists(Select [name] From SysObjects Where xType='P' and [name]='USP_REP_HS_BILL')
Begin
	Drop Procedure USP_REP_HS_BILL
End
GO
/****** Object:  StoredProcedure [dbo].[USP_REP_HS_BILL]    Script Date: 11/29/2018 17:27:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Sachin N. S.>
-- Create date: <22/02/2013>
-- Description:	<Point of Sale Bill Print>
-- Changed By/Date/Bug : Changed By Sachin N. S. on 29/07/2013 for Bug-14538
-- =============================================
Create PROCEDURE [dbo].[USP_REP_HS_BILL] 
		@TRANCD INT
AS
	BEGIN

		SET NOCOUNT ON;

		DECLARE @SQLCOMMAND NVARCHAR(MAX), @DISCCHRGS NVARCHAR(MAX)
		DECLARE @V_DISC BIT, @I_DISC BIT, @STAX_TRAN BIT, @STAX_ITEM BIT

		SELECT @V_DISC=V_DISC, @I_DISC=I_DISC, @STAX_TRAN=STAX_TRAN, @STAX_ITEM=STAX_ITEM FROM LCODE WHERE ENTRY_TY='HS'
		SELECT @DISCCHRGS=''
		IF @V_DISC = 1
		BEGIN
			SELECT @DISCCHRGS=COALESCE(@DISCCHRGS,'')+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'A.'+LTRIM(RTRIM(FLD_NM))+ ' AS HD_'+LTRIM(RTRIM(FLD_NM)) + CASE WHEN PERT_NAME='' THEN '' ELSE ',A.'+LTRIM(RTRIM(PERT_NAME))+' AS HD_'+LTRIM(RTRIM(PERT_NAME)) END FROM DCMAST WHERE ENTRY_TY='HS' AND ATT_FILE=1
		END
		IF @I_DISC = 1
		BEGIN
			SELECT @DISCCHRGS=COALESCE(@DISCCHRGS,'')+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'B.'+LTRIM(RTRIM(FLD_NM))+ ' AS DT_'+LTRIM(RTRIM(FLD_NM)) + CASE WHEN PERT_NAME='' THEN '' ELSE ',B.'+LTRIM(RTRIM(PERT_NAME))+' AS DT_'+LTRIM(RTRIM(PERT_NAME)) END FROM DCMAST WHERE ENTRY_TY='HS' AND ATT_FILE=0
		END
		IF @STAX_TRAN = 1
		BEGIN
			SELECT @DISCCHRGS=@DISCCHRGS+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'A.TAX_NAME,A.TAXAMT'
		END
		IF @STAX_ITEM = 1
		BEGIN
			SELECT @DISCCHRGS=@DISCCHRGS+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'B.TAX_NAME,B.TAXAMT'
		END

		SET @SQLCOMMAND = 'SELECT A.ENTRY_TY, A.DATE, A.TRAN_CD, A.DEPT, A.CATE, A.PARTY_NM, A.INV_NO, A.INV_SR, A.L_YN, A.GRO_AMT, '
		SET @SQLCOMMAND = @SQLCOMMAND+' A.NET_AMT, A.SYSDATE, A.AC_ID, B.ITEM_NO, B.ITEM, B.QTY, B.RATE, B.GRO_AMT AS ITGRO_AMT, '
		SET @SQLCOMMAND = @SQLCOMMAND+' B.IT_CODE, B.U_ASSEAMT, A.BALAMT, A.TOTALPAID, A.ROUNDOFF '+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+@DISCCHRGS
		SET @SQLCOMMAND = @SQLCOMMAND+' ,B.BATCHNO,B.mfgdt,B.expdt,a.patientnm,a.drname'
		SET @SQLCOMMAND = @SQLCOMMAND+' FROM DCMAIN A '
		SET @SQLCOMMAND = @SQLCOMMAND+' INNER JOIN DCITEM B ON A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD '
		SET @SQLCOMMAND = @SQLCOMMAND+' WHERE A.ENTRY_TY=''HS'' AND A.TRAN_CD='+CAST(@TRANCD AS VARCHAR)
		
		EXECUTE SP_EXECUTESQL @SQLCOMMAND 
				
	END


