DROP PROCEDURE [USP_REP_GB_VOU]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [USP_REP_GB_VOU]
@ENTRYCOND NVARCHAR(254)
as
Begin
	Declare @SQLCOMMAND as NVARCHAR(4000),@TBLCON as NVARCHAR(4000)

	SET @TBLCON=RTRIM(@ENTRYCOND)	
			Select Entry_ty,Tran_cd=0 Into #Bpmain from BPMAIN Where 1=0
			set @SQLCOMMAND='Insert Into #Bpmain Select a.Entry_ty,a.Tran_cd from bpmain a Where '+@TBLCON
			PRINT @SQLCOMMAND
			execute sp_executesql @SQLCOMMAND

--Commented by Priyanka B on 31012018 for Bug-31087 Start		
	/*Select a.entry_ty,a.Tran_cd,a.bank_nm,a.Date,a.net_amt,a.u_chandt,
	a.CREDITCNO,a.CREDITCNM,a.NETBANKAC,a.PAYTYPE,a.DepoType,a.BANKACNO,a.BENEACNO,a.BENEACNM,a.BANKCODE,a.EPAY,a.OVERCOUNT,a.NEFTRTGS,a.CPIN,a.BANKREFNO,a.BANKACKNO
	,CGST_tax=Case when am.typ='CGST Payable' and (a.DepoType='' or a.DepoType='Tax') then ac.amount else 0 end
	,SGST_tax=Case when am.typ='SGST Payable' and (a.DepoType='' or a.DepoType='Tax') then ac.amount else 0 end
	,IGST_tax=Case when am.typ='IGST Payable' and (a.DepoType='' or a.DepoType='Tax') then ac.amount else 0 end
	,CESS_tax=Case when am.typ='COMP CESS PAYABLE' and (a.DepoType='' or a.DepoType='Tax') then ac.amount else 0 end   --Added by Prajakta B. on 04012018 for Bug 31113
								
	,CGST_int=Case when am.typ='CGST Payable' and a.DepoType='Interest' then ac.amount else 0 end
	,SGST_int=Case when am.typ='SGST Payable' and a.DepoType='Interest' then ac.amount else 0 end
	,IGST_int=Case when am.typ='IGST Payable' and a.DepoType='Interest' then ac.amount else 0 end
	,CESS_int=Case when am.typ='COMP CESS PAYABLE' and a.DepoType='Interest' then ac.amount else 0 end                 --Added by Prajakta B. on 04012018 for Bug 31113
	
	,CGST_penalty=Case when am.typ='CGST Payable' and a.DepoType='Penalty' then ac.amount else 0 end
	,SGST_penalty=Case when am.typ='SGST Payable' and a.DepoType='Penalty' then ac.amount else 0 end
	,IGST_penalty=Case when am.typ='IGST Payable' and a.DepoType='Penalty' then ac.amount else 0 end
	,CESS_penalty=Case when am.typ='COMP CESS PAYABLE' and a.DepoType='Penalty' then ac.amount else 0 end			   --Added by Prajakta B. on 04012018 for Bug 31113
	
	,CGST_Fee=Case when am.typ='CGST Payable' and a.DepoType='Fee' then ac.amount else 0 end
	,SGST_Fee=Case when am.typ='SGST Payable' and a.DepoType='Fee' then ac.amount else 0 end
	,IGST_Fee=Case when am.typ='IGST Payable' and a.DepoType='Fee' then ac.amount else 0 end
	,CESS_Fee=Case when am.typ='COMP CESS PAYABLE' and a.DepoType='Fee' then ac.amount else 0 end					   --Added by Prajakta B. on 04012018 for Bug 31113
	
	,CGST_Oth=Case when am.typ='CGST Payable' and a.DepoType='Others' then ac.amount else 0 end
	,SGST_Oth=Case when am.typ='SGST Payable' and a.DepoType='Others' then ac.amount else 0 end
	,IGST_Oth=Case when am.typ='IGST Payable' and a.DepoType='Others' then ac.amount else 0 end
	,CESS_Oth=Case when am.typ='COMP CESS PAYABLE' and a.DepoType='Others' then ac.amount else 0 end				   --Added by Prajakta B. on 04012018 for Bug 31113
	
	,CGST_Tot=Case when am.typ='CGST Payable' then ac.amount else 0 end
	,SGST_Tot=Case when am.typ='SGST Payable' then ac.amount else 0 end
	,IGST_Tot=Case when am.typ='IGST Payable' then ac.amount else 0 end
	,CESS_Tot=Case when am.typ='COMP CESS PAYABLE' then ac.amount else 0 end										   --Added by Prajakta B. on 04012018 for Bug 31113
	
	,a.Inv_sr,a.Inv_no
	Into #tmppayment
	from Bpmain a 
	Inner Join Bpacdet ac on (a.Entry_ty=ac.Entry_ty and a.Tran_cd=ac.Tran_cd)
	INNER JOIN #Bpmain a2 ON (a.TRAN_CD=a2.TRAN_CD and a.Entry_ty=a2.entry_ty )
	Inner Join ac_mast am on (ac.ac_id=am.ac_id)
	Inner Join ac_mast a1 on(a.bank_nm=a1.ac_name)
	Where a.entry_ty='GB' and (am.typ like '%GST Payable%' 
							   or am.typ like '%COMP CESS PAYABLE%')                                                   --Added by Prajakta B. on 04012018 for Bug 31113
	--Group By a.entry_ty,a.Tran_cd,a.bank_nm,a.Date,a.net_amt,
	--a.CREDITCNO,a.CREDITCNM,a.NETBANKAC,a.PAYTYPE,a.DepoType,a.BANKACNO,a.BENEACNO,a.BENEACNM,a.BANKCODE,a.EPAY,a.OVERCOUNT
	--,a.NEFTRTGS,a.CPIN,am.typ,ac.amount,a.inv_sr,a.Inv_no,a.BANKREFNO,a.BANKACKNO
	Order by a.inv_sr,a.Inv_no
	
	select a.entry_ty,a.Tran_cd,a.bank_nm,a.Date,a.net_amt,a.u_chandt,
	a.CREDITCNO,a.CREDITCNM,a.NETBANKAC,a.PAYTYPE,a.DepoType,a.BANKACNO,a.BENEACNO,a.BENEACNM,a.BANKCODE,a.EPAY,a.OVERCOUNT
	,a.NEFTRTGS,a.CPIN,a.inv_sr,a.Inv_no,a.BANKREFNO,a.BANKACKNO
	,CGST_tax=SUM(a.CGST_tax),SGST_tax=SUM(a.SGST_tax),IGST_tax=SUM(a.IGST_tax)
	,CESS_tax=SUM(a.CESS_tax)			--Added by Prajakta B. on 04012018 for Bug 31113                                                 
	,CGST_int=SUM(a.CGST_int),SGST_int=SUM(a.SGST_int),IGST_int=SUM(a.IGST_int)
	,CESS_int=SUM(a.CESS_int)			--Added by Prajakta B. on 04012018 for Bug 31113
	,CGST_penalty=SUM(a.CGST_penalty),SGST_penalty=SUM(a.SGST_penalty),IGST_penalty=SUM(a.IGST_penalty)
	,CESS_penalty=SUM(a.CESS_penalty)   --Added by Prajakta B. on 04012018 for Bug 31113
	,CGST_Fee=sum(a.CGST_Fee),SGST_Fee=sum(a.SGST_Fee),IGST_Fee=sum(a.IGST_Fee)
	,CESS_Fee=SUM(a.CESS_Fee)			--Added by Prajakta B. on 04012018 for Bug 31113
	,CGST_Oth=SUM(a.CGST_Oth),SGST_Oth=SUM(a.SGST_Oth),IGST_Oth=SUM(a.IGST_Oth)
	,CESS_Oth=SUM(a.CESS_Oth)			--Added by Prajakta B. on 04012018 for Bug 31113
	,CGST_Tot=sum(a.CGST_Tot),SGST_Tot=sum(a.SGST_Tot),IGST_Tot=sum(a.IGST_Tot)
	,CESS_Tot=SUM(a.CESS_Tot)			--Added by Prajakta B. on 04012018 for Bug 31113
	,a.inv_sr,a.Inv_no
	From #tmppayment a  
	group by a.entry_ty,a.Tran_cd,a.bank_nm,a.Date,a.net_amt,a.u_chandt,
	a.CREDITCNO,a.CREDITCNM,a.NETBANKAC,a.PAYTYPE,a.DepoType,a.BANKACNO,a.BENEACNO,a.BENEACNM,a.BANKCODE,a.EPAY,a.OVERCOUNT
	,a.NEFTRTGS,a.CPIN,a.inv_sr,a.Inv_no,a.BANKREFNO,a.BANKACKNO
		order by a.inv_sr,a.Inv_no*/
--Commented by Priyanka B on 31012018 for Bug-31087 End
	
--Modified by Priyanka B on 31012018 for Bug-31087 Start
Select distinct a.entry_ty,a.Tran_cd,a.bank_nm,a.Date,a.net_amt
,ac.amount,a.cintamt,a.cfeeamt,ctaxAmt,sintamt,sfeeamt,staxAmt,iintamt,ifeeamt,itaxAmt,ccintamt,ccfeeamt,cctaxAmt
,a.Inv_sr,a.Inv_no--,ac.amount
,am.typ
,cgst_tax=Case when (am.typ='CGST Payable') then (ac.amount) else 0 end
,sgst_tax=Case when (am.typ='SGST Payable') then (ac.amount) else 0 end
,igst_tax=Case when (am.typ='IGST Payable') then (ac.amount) else 0 end
,ccess_tax=Case when (am.typ='COMP CESS Payable') then (ac.amount) else 0 end
Into #tmppayment
from Bpmain a 
Inner Join Bpacdet ac on (a.Entry_ty=ac.Entry_ty and a.Tran_cd=ac.Tran_cd)
INNER JOIN #Bpmain a2 ON (a.TRAN_CD=a2.TRAN_CD and a.Entry_ty=a2.entry_ty )
Inner Join ac_mast am on (ac.ac_id=am.ac_id)
--Inner Join ac_mast a1 on(a.bank_nm=a1.ac_name)
Where a.entry_ty='GB' and (am.typ like '%GST Payable%' 
or am.typ like '%COMP CESS PAYABLE%')  

select distinct a.entry_ty,a.Tran_cd,a.bank_nm,a.Date,a.net_amt
,a.Inv_sr,a.Inv_no,a.cintamt,a.cfeeamt,cTaxAmt,sintamt,sfeeamt,sTaxAmt,iintamt,ifeeamt,iTaxAmt,ccintamt,ccfeeamt,ccTaxAmt
,CGST_Tax=(sum(CGST_Tax)-cintamt-cfeeamt-ctaxamt)
,SGST_Tax=(sum(SGST_Tax)-sintamt-sfeeamt-staxamt)
,IGST_Tax=(sum(IGST_Tax)-iintamt-ifeeamt-itaxamt)
,CCess_Tax=(sum(cCESS_Tax)-ccintamt-ccfeeamt-cctaxamt)
From #tmppayment a  
group by a.entry_ty,a.Tran_cd,a.bank_nm,a.Date,a.net_amt
,a.Inv_sr,a.Inv_no
,a.cintamt,a.cfeeamt,ctaxAmt,sintamt,sfeeamt,staxAmt,iintamt,ifeeamt,itaxAmt,ccintamt,ccfeeamt,cctaxAmt

drop table #tmppayment
--Modified by Priyanka B on 31012018 for Bug-31087 End
End
GO
