If Exists(Select [Name] From SysObjects Where xType='P' and [Name]='USP_Ent_eWayBill_JsonDet_Item')
Begin
	Drop Procedure USP_Ent_eWayBill_JsonDet_Item
End
Go
-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 08/01/2017
-- Description:	This Stored procedure is useful for eWayBill Json Deatails
-- Modify By/date/Reason: 
-- Remark:
-- =============================================
Create Procedure [dbo].[USP_Ent_eWayBill_JsonDet_Item]
(
	@TrnName varchar(100),@Inv_No varchar(30),@InvDate SmallDateTime
)
As
Begin
Declare @SqlCommand nvarchar(4000) ,@bCode_Nm Varchar(2)
,@Entry_ty varchar(50)  --Added by Priyanka B on 12022018 for Bug-31240

Select @bCode_Nm=Case when @TrnName='Sales' Then 'ST'
					  When @TrnName='Purchase' Then 'PT'
					  When @TrnName='Delivery Challan' Then 'DC'
					  When @TrnName='LABOUR JOB ISSUE[IV]' Then 'II'
					  When @TrnName='LABOUR JOB ISSUE[V]' Then 'II'	
					  When @TrnName='LABOUR JOB RECEIPT[IV]' Then 'IR'
					  When @TrnName='LABOUR JOB RECEIPT[V]' Then 'IR'
					  When @TrnName='CREDIT NOTE' Then 'CN'
					  When @TrnName='Sales Return' Then 'SR'
					  When @TrnName='Goods Receipt' Then 'AR'
					  Else '' End

--Added by Priyanka B on 12022018 for Bug-31240 Start
Select @Entry_ty=Case 
					  When @TrnName='LABOUR JOB ISSUE[IV]' Then ' Entry_ty = ''LI'''
					  When @TrnName='LABOUR JOB ISSUE[V]' Then ' Entry_ty = ''IL'''	
					  When @TrnName='LABOUR JOB RECEIPT[IV]' Then ' Entry_ty = ''LR'''
					  When @TrnName='LABOUR JOB RECEIPT[V]' Then ' Entry_ty = ''RL'''
					  When @TrnName='CREDIT NOTE' Then ' Entry_ty = ''GC'''
					  Else '' End
--Added by Priyanka B on 12022018 for Bug-31240 End

Select itemNo=999,productName=CAST('' as varchar(100)),productDesc=CAST('' as varchar(100)),hsnCode=CAST('' as varchar(10)),quantity=Cast(0 as Decimal(12,3)),qtyUnit=Cast('' as varchar(3)),taxableAmount=Cast(0 as Decimal(12,2)),sgstRate=Cast(0 as Decimal(10,3)),cgstRate=Cast(0 as Decimal(10,3)),igstRate=Cast(0 as Decimal(10,3)),cessRate=Cast(0 as Decimal(10,3)) --Rup
,cessrate1=CAST('' as varchar(500))
--,cessAdvol=CONVERT(int,0)
into #eWayBillJson_Item where 1=2

--Commented by Priyanka B on 12022018 for Bug-31240 Start
/*Set @SqlCommand='Insert Into #eWayBillJson_Item'
Set @SqlCommand=rtrim(@SqlCommand)+' Select itemNo=Cast(Item_No as int),productName=itm.It_Name,productDesc=itm.It_Desc,itm.hsnCode,quantity=i.qty,qtyUnit=itm.s_unit,taxableAmount=u_AsseAmt,sgstRate=i.sGST_Per,cgstRate=i.cGST_Per,igstRate=i.iGST_Per,cessRate=i.ccessrate'---Changed by Suraj K.,cessRate=i.ComrpCess'
Set @SqlCommand=rtrim(@SqlCommand)+' From '+@bCode_Nm+'Item i' 
Set @SqlCommand=rtrim(@SqlCommand)+' Inner Join It_Mast itm on (i.It_Code=itm.It_Code)'
Set @SqlCommand=rtrim(@SqlCommand)+' Where Inv_No='+Char(39)+@Inv_No+Char(39) +' Order By cast(i.Item_No as int)'
*/
--Commented by Priyanka B on 12022018 for Bug-31240 End

--Modified by Priyanka B on 12022018 for Bug-31240 Start
Set @SqlCommand='Insert Into #eWayBillJson_Item'
Set @SqlCommand=rtrim(@SqlCommand)+' Select itemNo=Cast(Item_No as int),productName=itm.It_Name,productDesc=LEFT(((case when isnull(cast(itm.It_Desc as varchar(4000)),'''')='''' Then itm.It_Name Else cast(itm.It_Desc as varchar(4000)) End)),100),itm.hsnCode,quantity=i.qty,qtyUnit=itm.s_unit,taxableAmount=u_AsseAmt,sgstRate=i.sGST_Per,cgstRate=i.cGST_Per,igstRate=i.iGST_Per
,cessRate=0
,cessRate1=i.ccessrate'
--,cessAdvol=CONVERT(int,0)
Set @SqlCommand=rtrim(@SqlCommand)+' From '+@bCode_Nm+'Item i' 
Set @SqlCommand=rtrim(@SqlCommand)+' Inner Join It_Mast itm on (i.It_Code=itm.It_Code)'
Set @SqlCommand=rtrim(@SqlCommand)+' Where Inv_No='+Char(39)+@Inv_No+Char(39) 
Set @SqlCommand=rtrim(@SqlCommand)+' AND Date='+Char(39)+Convert(varchar(50),@InvDate)+Char(39) 
If (@Entry_ty<>'') Begin Set @SqlCommand=rtrim(@SqlCommand)+' and '+@Entry_ty End
Set @SqlCommand=rtrim(@SqlCommand)+' AND itm.isservice<>1'
Set @SqlCommand=rtrim(@SqlCommand)+' Order By cast(i.Item_No as int)'
--Modified by Priyanka B on 12022018 for Bug-31240 End

Print @SqlCommand
Execute sp_Executesql @SqlCommand 
--execute USP_Ent_eWayBill_JsonDet_Item 'Sales',''

Update #eWayBillJson_Item set cessRate1=replace(cessRate1,'NO-CESS','0')
Update #eWayBillJson_Item set cessRate1=CASE WHEN CHARINDEX('%',cessRate1)>0 THEN SUBSTRING(cessRate1,1,CHARINDEX('%',cessRate1)-1) ELSE '0' END

Update #eWayBillJson_Item set cessRate=Cast(cessRate1 as Decimal(10,3))

Update #eWayBillJson_Item set productName=replace(productName,'"','\"'),productDesc=replace(productDesc,'"','\"'),hsnCode=CASE WHEN ISNULL(hsnCode,'')='' THEN '0' ELSE hsnCode END

alter table #eWayBillJson_Item drop column cessRate1
Select * From #eWayBillJson_Item

End
