DROP PROCEDURE [USP_REP_PS_BILL]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Sachin N. S.>
-- Create date: <22/02/2013>
-- Description:	<Point of Sale Bill Print>
-- Changed By/Date/Bug : Changed By Sachin N. S. on 29/07/2013 for Bug-14538
-- =============================================
	CREATE PROCEDURE [USP_REP_PS_BILL] 
		@TRANCD INT
	AS
	BEGIN
		-- SET NOCOUNT ON added to prevent extra result sets from
		-- interfering with SELECT statements.
		SET NOCOUNT ON;
		
		--***** Added by Sachin N. S. on 29/07/2013 for Bug-14538 -- Start *****--
		DECLARE @SQLCOMMAND NVARCHAR(MAX), @DISCCHRGS NVARCHAR(MAX)
		DECLARE @V_DISC BIT, @I_DISC BIT, @STAX_TRAN BIT, @STAX_ITEM BIT

		SELECT @V_DISC=V_DISC, @I_DISC=I_DISC, @STAX_TRAN=STAX_TRAN, @STAX_ITEM=STAX_ITEM FROM LCODE WHERE ENTRY_TY='PS'
		SELECT @DISCCHRGS=''
		IF @V_DISC = 1
		BEGIN
			SELECT @DISCCHRGS=COALESCE(@DISCCHRGS,'')+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'A.'+LTRIM(RTRIM(FLD_NM))+ ' AS HD_'+LTRIM(RTRIM(FLD_NM)) + CASE WHEN PERT_NAME='' THEN '' ELSE ',A.'+LTRIM(RTRIM(PERT_NAME))+' AS HD_'+LTRIM(RTRIM(PERT_NAME)) END FROM DCMAST WHERE ENTRY_TY='PS' AND ATT_FILE=1
		END
		IF @I_DISC = 1
		BEGIN
			SELECT @DISCCHRGS=COALESCE(@DISCCHRGS,'')+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'B.'+LTRIM(RTRIM(FLD_NM))+ ' AS DT_'+LTRIM(RTRIM(FLD_NM)) + CASE WHEN PERT_NAME='' THEN '' ELSE ',B.'+LTRIM(RTRIM(PERT_NAME))+' AS DT_'+LTRIM(RTRIM(PERT_NAME)) END FROM DCMAST WHERE ENTRY_TY='PS' AND ATT_FILE=0
		END
		IF @STAX_TRAN = 1
		BEGIN
			SELECT @DISCCHRGS=@DISCCHRGS+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'A.TAX_NAME,A.TAXAMT'
		END
		IF @STAX_ITEM = 1
		BEGIN
			SELECT @DISCCHRGS=@DISCCHRGS+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+'B.TAX_NAME,B.TAXAMT'
		END
		--***** Added by Sachin N. S. on 29/07/2013 for Bug-14538 -- End *****--

		SET @SQLCOMMAND = 'SELECT A.ENTRY_TY, A.DATE, A.TRAN_CD, A.DEPT, A.CATE, A.PARTY_NM, A.INV_NO, A.INV_SR, A.L_YN, A.GRO_AMT, '
		SET @SQLCOMMAND = @SQLCOMMAND+' A.NET_AMT, A.SYSDATE, A.AC_ID, B.ITEM_NO, B.ITEM, B.QTY, B.RATE, B.GRO_AMT AS ITGRO_AMT, '
		SET @SQLCOMMAND = @SQLCOMMAND+' B.IT_CODE, B.U_ASSEAMT, A.BALAMT, A.TOTALPAID, A.ROUNDOFF '+CASE WHEN @DISCCHRGS='' THEN '' ELSE ',' END+@DISCCHRGS
		SET @SQLCOMMAND = @SQLCOMMAND+' FROM DCMAIN A '
		SET @SQLCOMMAND = @SQLCOMMAND+' INNER JOIN DCITEM B ON A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD '
		SET @SQLCOMMAND = @SQLCOMMAND+' WHERE A.ENTRY_TY=''PS'' AND A.TRAN_CD='+CAST(@TRANCD AS VARCHAR)

		--PRINT @SQLCOMMAND
		EXECUTE SP_EXECUTESQL @SQLCOMMAND 
				
	END
GO
